.nav{
    grid-area: n;
    background-color:burlywood;
    padding: 20px;
   }
   .item a{
       color:white;
       margin-bottom: 10px;
       text-decoration: none;
       font-size: 30px;
   }
   .item a.activeLink{
       color: gold;
   }